@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;500&family=Pacifico&display=swap");

.header {
  padding-top: 110px;
  background-color: #000;
  box-sizing: border-box;
  overflow: hidden;
}

.path {
  fill: none;
  stroke: #f2f2f2;
  stroke-width: 3px;
}

.path1 {
  stroke-dasharray: 6884;
  animation: drawPath1 1s linear, floating 2.2s linear infinite;
}

.content1 {
  background-color: #f1f1f1;
}

.content2 {
  background-color: #000;
}

.path2 {
  stroke: #000;
}

.content2 {
  background-image: url("./newzealand.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.content3 {
  background-color: #1a1a1a;
}

.footer {
  height: 30vh;
  background-color: #000;
}

@keyframes drawPath1 {
  0% {
    stroke-dashoffset: 6884;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes floating {
  50% {
    transform: translate3d(0, 40px, 0);
  }
}
