@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

html, body {
  height: 10000px;
  font-family: 'Space Mono', sans-serif; 
  background-color: #B5FE83; 
}

.header {
  position: fixed;
  z-index: 1;
  background-color: #FFF;
  top: 0;
  width: 100%;
  height: 4vh;
  border-bottom: 1px solid #191919;
  display: flex;
  align-items: center;
  padding-left: 5vh;
  font-size: 2vh;
}

.start-screen {
  padding-top: 4vh;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 7vh;
  text-align: center;
}

.main-content-1 {
  background-color: #F7F7F7;
  border-top: 1px solid #191919;
  border-bottom: 1px solid #191919;
  width: 100%;
  height: 300vh;
}

.sticky-title {
  width: 100%;
  height: 76vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5vh;
  font-weight: bold;
  text-align: center;
}

.sticky {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.section {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #FAFAFA;
}

.title {
  border-top: 1px solid #191919;
  background-color: #FFF;
  height: 6vh;
  display: flex;
  align-items: center;
  font-size: 2vh;
  padding-left: 3vh;
}

.content {
  height: 94vh;
  display: flex;
  justify-content: flex-end;
}

.content > img {
  width: 60vw;
  height: 60vh;
  object-fit: cover;
  margin: 5vh 20vh 0 0;
}